body {
    /* background-color: #FFFDD0; */
    background-color: whitesmoke;
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}

nav {
    background-color: black;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    height: 60px;
    box-shadow: 2px 2px 2px gray;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none; 
    color: white;
    font-size: 1.75rem;
    font-family: 'Times New Roman', Times, serif
    text-shadow: 1.5px 1.5px 1.5px gray;
    display: in-line block;
    padding: 175px;
}

a:hover {
    color: gray;
}

#mainHeading {
    color: black;
    font-family: 'Times New Roman', Times, serif
    font-size: 4rem;
    text-shadow: 2px 2px 2px gray;
    text-align: center;
    margin-top: 90px;
}

#malPic {
    height: 350px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 125px;
    margin-top: 35px;
}
.aboutMeDiv {
    background-color: lightgrey;
}


#aboutMe {
    text-align: center;
    padding: 50px;
    color: black;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif
    text-shadow: 1px 1px 1px gray;
}

h2 {
    font-size: 3.5rem;
    /* text-decoration: underline; */
}

#blurb {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#aside {
    font-size: 1rem;
    margin: 50px;
}

#experienceHeading {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif
    text-shadow: 1px 1px 1px gray;
}

#experienceBlurb {
    text-align: center;
    font-size: 1.25rem;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carousel-item img {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}

.portfolio-image {
    display: block;
    margin: auto;
}

h5 {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.slider-blurb {
    color: black;
    font-size: 1rem;
}

.skillsContainer {
    background-color: lightgray;
}

.skillsHeading {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}

.skillsList {
    text-align: center;
    list-style-type: none;
    font-size: 1.25rem;
}

footer {
    background-color: black;
    height: 90px;
    box-shadow: 1px 1px 1px gray;
    padding: 5px;
    posiition: absolute;
    bottom: 0;
    width: 100%;
    /* position: relative; */
}

#copyright {
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px gray;
}

#pageTwo {
    background-color: #B1BCA0;
}

#linkToPage {
    font-size: 5rem;
    text-align: center;
    display: block;
    margin: auto;
    text-shadow: 1.5px 1.5px 1.5px gray;
    animation-name: textAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textAnimation {
    0% {margin-top: auto;}
    25% {margin-top: 50px;}
    50% {margin-top: 100px;}
    75% {margin-top: 50px;}
    100% {margin-top: auto;}
}